
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
    margin: 0;
  }

  .leaflet-container {
    /* position: relative;
    overflow: hidden; */
    /* height: 700px; */
    /* max-width:35rem; */
    /* width: 100%; */
    background-color: rgb(255, 255, 255) !important;
    /* margin-top: 50px; */
    z-index: 0;
  } 

/* Design the title in the navbar*/
  .app-title {
    font-size: 40px;  
    /* font-weight: bold; */
    color: #ffffff;  
    /* margin-right: auto;   */
    margin-left: 20px;  
    padding: 10px 0;  
    /* background-color: #fb8332; */
}

/* Design the navbar box*/
.navbar.navbar-default {
  background-color:#5c9edf !important;  
  border: none;  
  padding: 0px 0px;  
}


/* class="navbar navbar-expand-md navbar-default" */



/* Custom styling for the navigation tabs */
.custom-nav-tabs {
    /* position: relative;
    display: flex; */
    /* justify-content: flex-end; */
    /* background-color: #ffffff;  */
    margin-top: 40px;
    /* text-align: left;  */
    /* font-size: 60px; */
    padding-right: 10px 50px;    
}

.custom-nav-tabs .nav {
  margin-right: 10px; 
}

.custom-nav-tabs .nav-link {
    font-size: 22px; 
    color: #335997;  
    padding: 10px 15px;
    transition: background-color 0.3s ease; 
}

.custom-nav-tabs .nav-link.active {
  font-weight: bold;
  color:#ffffff;
}


/* styling the legend */
.legend-container {
    position: relative;
    bottom: 100px;
    left: 150px;
    /* padding: 10px; */
    /* background-color: white; */
    /* border: 1px solid #ccc; */
    /* z-index: 9999;  */
    max-width: 250px; 
    /* overflow-wrap: break-word; */
    z-index: 1;
}

.legend-container h4 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.legend-color-block {
  width: 20px;
  height: 10px;
  margin-right: 5px;
  border: 1px solid black;
}

.legend-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.legend-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-text {
  font-size: 16px;
}

/* Stylying the elements of the country details page*/
/* General Layout */
.country-details-container {
    /* margin: 20px auto; */
    justify-content: center;
    display: center; /* I am not sure if it is helping or not */
    margin-top: 0px;
    padding: 0px;
    /* max-width: 1900px;  */
    width: 100%;
    height: 100%;
    /* min-height: 800px; */
    background-color: #ffffff;
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
}


/* Country details page Titles */
.country-details-title {
    font-size: 40px;
    color: #333;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 0px;
    text-align: center; 
}

/* Agreement details page Title*/
.agreement-details-title{
  font-size: 30px;
  color: #333;
  font-weight: bold;
  margin-bottom: 80px;
  margin-top: 60px;
  text-align: center; 
}


/* Agreement details download button*/

.Download_btn_container {
  text-align: right;
  /* text-decoration: none; */
}


.Download_btn {
  position: relative;
  top: calc(50% - 30px);
  right: calc(50% - 115px);
  width: 160px;
  height: 60px;
  background-color: #3c4fe0; /* Black background */
  border-color: #3c4fe0;
  /* background-image: none; */
  /* background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.075), rgba(255,255,255,.045));
  background-image: linear-gradient(to top, rgba(255,255,255,.045), rgba(255,255,255,.045)); */
  /* box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset; */
  /* box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1),inset 0 1px 0 rgba(255,255,255,.04); */
  border-radius: 20px;
  color: rgba(255,255,255,.9);
  /* line-height: 60px; */
  text-align: center;
  letter-spacing: 5px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.67,.13,.1,.81), transform .15s cubic-bezier(.67,.13,.1,.81);
}

.Download_btn:hover {
  right: calc(50% - 200px);
  background-color: #1e90ff; 
  border-color: #1e90ff;
  width: 270px;
}


.Download_btn:active {
  transform: translateY(3px);
}

.Download_btn:before, .download:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex; 
  justify-content: center;
  align-items: center;
  transition: all .3s cubic-bezier(.67,.13,.1,.81);
}


.Download_btn:before {
  content: 'DOWNLOAD';
  
}

.Download_btn:after {
  content: 'Entire Agreement';
  /* top: -60px; */
  opacity: 0;
  /* text-align: center;
  line-height: 60px; */
  /* text-align: center; */
  /* line-height: 60px; */
  /* background-color: #3c4fe0; */
}
.Download_btn:hover:after {
  top: 0px;
  opacity: 1;
  
}
.Download_btn:hover:before {
  top: 60px;
  opacity: 0;
}


/* Header for country details page. */
/* In the header we have a button and the total number of agreements*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #ffffff;  */
}

.top-right-stats {
  text-align: right;
  line-height: 0.8;
  /* border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  background-color:  #5468ff; */
}

.stat-number {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.stat-label1 {
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.stat-label2 {
  font-size: 24px;
  color: #666;
  font-weight: bold;
  text-align: center;
}

/* Map page button*/
.country-details-btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #3c4fe0 100%);
  border: 0;
  border-radius: 20px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono",monospace; */
  height: 60px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.country-details-btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.country-details-btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.country-details-btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* Agreement buttons */
.agreement_btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #f5ae7e;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex; /*inline-flex;*/
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.2;
  margin: 0;
  /* min-height: 3rem; */
  padding: 10px; /* calc(.875rem - 1px) calc(1.5rem - 1px);*/
  /* position: relative; */
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  /* width: auto; */
  width: 300px;
  height: 150px;
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  white-space: normal; /* Allows text to wrap */
}

.agreement_btn:hover,
.agreement_btn:focus {
  background-color: #fb8332;
  box-shadow: #ffffff1a 0 4px 12px;
}

/* Container to align agreement buttons */
.agreement-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
}

/*Agreement dataframe */
table {
  /* width: 100%; */
  /* border-collapse: collapse; */
  table-layout: fixed;
}


table th {
  background: linear-gradient(0deg, #f5ae7e 0%, #fb8332 100%); /* Apply background color to the header */
  color: white;           
}

/* Designing a tooltip*/
.custom-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: large;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  /* display: none; */
  /* display: block; */
  z-index: 1000;
  pointer-events: none; 
}

/* Design tooltip for dyad_name*/
.dyad-tooltip {
  /* position: absolute; */
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: large;
  padding: 0px;
  border-radius: 4px;
  /* border: 1px solid #ccc; */
  text-align: left;
  /* display: none; */
  /* display: block; */
  /* z-index: 1000; */
  pointer-events: none; 
}

/* Paragraph designs*/
.custom-paragraph {
  font-size: 20px;         
  line-height: 1.6;        
  color: #333333;          
  text-align: justify;     
  margin-bottom: 15px;    
  padding: 5px;         
}

/* Design the text link*/
.custom-link {
  color: #3c4fe0;         
  text-decoration: none;   
  font-weight: bold;      
}

.custom-link:hover {
  text-decoration: underline;  
}


/* Container for the two buttons in the database and codebook tab. */
.DBandCodebook-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 100Px;
  padding: 0px;
  background-color: #ffffff; 
}

.DBandCodebook-button-container:first-of-type {
  margin-left: 0;
}

.DBandCodebook-button-container:last-of-type {
  margin-right: 1px0;
}